/*RESET*/
*{margin:0;padding: 0; font-size: 100%; box-sizing: border-box;font-family: sans-serif;}
nav, ul{list-style: none; font-size: 30px;}
a{color: inherit; text-decoration: none; cursor: pointer; opacity: 0.9;}
a:hover{opacity: 1;}

/*HEADER*/
header{background-color: #209e8f; width: 100%; height: 72px; position: relative; top: 0; left: 0; display: flex; justify-content: space-around; align-items: center; padding: 20px 50px;}
header img{width: 200px;}
header nav{display: flex; color: white; font-size: 25px; }
header li a{color: white;}
header li{ margin: 0 15px;}
header li:first-child{margin-left: 0;}
header li:last-child{margin-right: 0;}
@media(max-width:700px){
    header{flex-direction: column; height: 100%; padding: 10px 25px;}
    header img{ margin-bottom: 15px;}
    header nav{margin-bottom: 15px;}
}
.redes-sociais{display: flex; align-items: center; justify-content: space-around; border-radius: 5px; flex-direction: row;}
.tw{width: 24.3px; height: 19.8px; margin-right: 10px;}
.ig{width: 20px; height: 20px;}
.fb{width: 10.8px; height: 20px; margin-left: 10px;}

.pag-inicial{background-color: #f8f8f8; display: flex; flex-direction: column; width: 100%; height: 100%; align-items: center;}

/*GRID*/
/*DEFINE A AREA ONDE ESTARA O CONTEUDO*/
.conteudo-inicial{;display: flex;  flex-wrap: nowrap; padding: 50px 100px; justify-content: space-around; width: 100%; height: 100%;margin-left: 3vw;margin-bottom: 5vh; }
.conteudo-inicial .lista-de-conteudo{width: 100%; height: 100%; flex: 2 2 200px; align-items: center;}
.conteudo-inicial ul li{display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-end; background-repeat: no-repeat; width: 100%; height: 150px; margin: 12.5px; border: 1px solid #244654;}

.conteudo-inicial .lista-de-conteudo h3{color: white;font-size: 20px; margin-bottom: 2px; }
.conteudo-inicial .lista-de-conteudo p{background-color: white;max-width: 100%; font-size: 15px; }
.conteudo-inicial hr{width: px; height: 1000px; background-color: #244654;margin-left: 150px;}
.conteudo-inicial h2{font-size: 25px; text-align: center; margin-bottom: 20px;}
@media(min-width:1000px){
    .conteudo-inicial ul li{width: 500px;}
}


/*SEÇAO DE MATERIAIS*/
.conteudo-inicial .materiais{display: flex; width: 200px; height: 100%; flex-direction: column; align-items: flex-end; flex-wrap: nowrap;flex: 1 2 100px;}
.conteudo-inicial .materiais h2{font-size: 25px; text-align: center; width: 100%; margin-bottom: 20px;}

/*SECAO DE MATERIAIS GRATUITOS DENTRO DE MATERIAIS*/
.conteudo-inicial .material-gratuito{ padding: 15px; width: 100%; height: 300px; display: flex; flex-direction: column; justify-content: center; align-items: center; border: none;}
.conteudo-inicial .material-gratuito img{width: 130px; height: 155px;}
.conteudo-inicial .material-gratuito p{width: 100%; height: 38px; font-family: sans-serif; padding: 5px; font-size: 15px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 1.36; align-content: center;align-items: center;text-align: center; color: #224655; margin: 5px 0;}
.conteudo-inicial .material-gratuito button {width: 129.5px; height: 33.5px; border-radius: 12.5px; border:none; align-items: center;background-color: #244654; color: #ffff; font-size: 13px;}
@media(max-width:700px){
    .conteudo-inicial{display: flex; flex-direction: column; align-items: center; width: 100%; height: 100%;padding: 0 0; margin: 10px 25px; }
    .conteudo-inicial .lista-de-conteudo{width: 90%; align-items: center}
    .conteudo-inicial hr{display: none}
    .conteudo-inicial .materiais{display: flex; flex-direction: column; width: 100%; height: 100%; flex-wrap: wrap; align-content: center}
    .conteudo-inicial .materiais h2{margin-bottom: 10px;}
}

/*LEADS*/
.formulario{display: flex; flex-direction: column; align-items: center; padding: 50px 50px; background-color: #209e8f}
.formulario h3{font-size: 2rem; margin-bottom: 35px; color: #ffff; text-align: center;}
.formulario p{max-width: 800px; margin-bottom: 35px; color: #ffff; text-align: center;}
.formulario hr{width: 200px; height: 2px; background-color: #ffff; margin-bottom: 70px; border: none;}
.formulario form{display: flex; align-items: center; justify-content: center;flex-wrap: wrap; width: 80%; max-width: 800px; }
.formulario input{padding: 15px; border: 1px solid #ffff; border-radius: 4px; margin-right: 15px; flex: 1;}
.formulario button{padding: 15px; background-color: #ffff; color: #209e8f; text-transform: uppercase; border:none;border-radius: 4px; cursor: pointer;}
@media(max-width:700px){
    .formulario input{display: flex; flex-direction: column; flex-basis: 100%; margin-bottom: 15px;}
}

/*FOOTER*/

footer{display: flex; flex-direction: column; background-color: black; padding: 50px 0; align-items: center;}
footer ul{display: flex; margin-bottom: 25px;}
footer ul li{ margin-right: 10px;}
footer ul li:last-child{margin-right: 0;}
footer ul li a{font-size: 2rem;}
footer p{color: white; text-align: center;}
footer img{width: 100px;}

/*CONTEUDO*/
.container-conteudo{width: 100%;height: 100%;background-color: #f8f8f8;}
.container-conteudo .imagem-cabecalho{display: flex;  margin-bottom: 50px; padding: 0 0; width: 100% ; margin-top: -5px; flex-direction: column; align-items: center; align-content: center; justify-content: center;}
.container-conteudo .imagem-cabecalho img{width: 100%x;  height: 189.5px}

.conteudo{display: flex; flex-direction: column; margin-left: 15vw; align-self: baseline; text-align: justify; width:  70%;}

.conteudo h1{font-size: 2.5rem; margin-bottom: 15px; text-align: start; justify-content: center;}
.conteudo h2{font-size: 2.0rem; margin-bottom: 15px; text-align: start; justify-content: center;}
.conteudo h3{font-size: 1.8rem; margin-bottom: 15px; text-align: start; justify-content: center;}
.conteudo h4{font-size: 1.6rem; margin-bottom: 15px; text-align: start; justify-content: center;}
.conteudo h5{font-size: 1.4rem; margin-bottom: 15px; text-align: start; justify-content: center;}
.conteudo p1{font-size:  0.8rem; margin-bottom: 30px; text-align: start;}
.conteudo p{font-size: 1.2rem; text-align: justify; margin-bottom: 15px;}
.conteudo ul{font-size: 1.2rem; margin-top: -10px; margin-bottom: 30px; text-align: justify;}
.conteudo ul li{font-size: 1.2rem; margin-left: 20px; margin-bottom: 2px; text-align: justify; list-style: disc;}
@media(max-width:700px){
    .container-conteudo .imagem-cabecalho img{ height: 100px;}
}

.conteudo-sobre-nos{display: flex; margin-left: 15vw; align-self: baseline; text-align:justify; width:  70%; height: 500px; font-size: 1.5rem; align-items: center;}

/*LEADS + DOWNLOADS*/
.formulario-download{display: flex; flex-direction: column; align-items: center; padding: 50px 50px; background-color: #ffffff}
.formulario-download h3{font-size: 2rem; margin-bottom: 35px; color: #209e8f; text-align: center;}
.formulario-download p{max-width: 800px; margin-bottom: 35px; color: #209e8f; text-align: center;}
.formulario-download hr{width: 200px; height: 2px; background-color: #209e8f; margin-bottom: 70px; border: none;}
.formulario-download form{display: flex; align-items: center; justify-content: center;flex-wrap: wrap; width: 80%; max-width: 800px; }
.formulario-download input{padding: 15px; border: 1px solid #209e8f; border-radius: 4px; margin-right: 15px; flex: 1;}
.formulario-download button{padding: 15px; background-color: #ffff; color: #209e8f; text-transform: uppercase; border:1px solid #209e8f;border-radius: 4px; cursor: pointer;}
.formulario-download img{display: flex;  width: 20% ; margin-bottom: 5px; flex-direction: column; align-items: center;justify-content: center;}
@media(max-width:700px){
.formulario-download input{display: flex; flex-direction: column; flex-basis: 100%; margin-bottom: 15px;}
    .formulario-download p{text-align: justify;}
}